.header_item {
  background-image: url("https://img15.hostingpics.net/thumbs/mini_548573cinema.jpg");
  background-size: cover;
  width: 1920px;
  height: 500px;
}

a {
  text-decoration: none;
  color: black;
}

.image {
  width: 100%;
  height: 180px;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}
