.error {
  color: red;
}

.form {
}

.nav-link {
  padding-bottom: 17%;
}

.connexinscri {
  text-decoration: none;
  color: white;
  margin: 0 1em;
}

.connexinscri:hover {
  text-decoration: none;
  color: #E0E0E0;
}
