

.movie {
  text-align: center;
  color: white;
  margin: 0 7em;
}

.titledetail {
  text-decoration: underline;
}

html {
  background-color: #C5CAE9;
}

.imgdetail {
  width: 70%;
  height: 70%;
  padding-bottom: 30px;
}

.col-9 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.lastdetail {
  margin-bottom: 30px;
}

.rowdetail {
  margin-bottom: 500px;
}

.header_item_detail {
  padding-bottom: 20%;
}
