.header_item {
  background-color: #C5CAE9;
  background-repeat: repeat;
}

.image {
  width: 100%;
  height: 180px;
}

h1 {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-bottom: 20px;
  padding-top: 20px;
}

.col-1 {
  margin-top: 20px;
  /*height: 70%;*/
  text-align: center;
}

.fa {
  text-decoration: none;
}

.nodeco {
  text-decoration: none;

}

.nodeco:hover {
  text-decoration: none;

}

.fa-user {
  color: white;
}

.fa-user:hover {
  color: grey;
}
