h1 {
  text-align: center;
  color: white;
  text-decoration: none;
}

.movie {
  text-align: center;
  color: white;
  margin: 0 7em;
}

.titledetail {
  text-decoration: underline;
}

html {
  background-color: #C5CAE9;
}

.imgdetail {
  width: 70%;
  height: 70%;
}

.col-9 {
  margin-top: 50px;
}
