body {
  background-color: #C5CAE9;
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display : table;
  width: 100%;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }



footer {
	display : table-row;
	height: 339px; /* à titre d'exemple */
}


.btn-index {
  margin-bottom: 80px;
}

.toutfilms {
  margin-bottom: 300px;
}

html {
  height : 100%;
  margin: 0;
  padding: 0;
}



.header_item {
  padding-left: 2%;
  padding-right: 2%;
}


.image {
  width: 100%;
  height: 180px;
}

h1 {
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  padding-top: 20px;
}

.col-1 {
  margin-top: 20px;
  /*height: 70%;*/
  text-align: center;
}

.col-6 {
  margin-bottom: 30px;
}

.center {
right: 0;
left: 0;
}


.fa {
  text-decoration: none;
}

.nodeco {
  text-decoration: none;

}

.nodeco:hover {
  text-decoration: none;

}

/* style hide pour formulaire filtre */
.hide {
  display:none;
}

.footer_item {
  background-color: #9FA8DA;
  border-top: 2px solid #5C6BC0;
}

.trio {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
}

.footer_text {
  margin-top: 30px;
}

.rs {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-inscription {
  margin-bottom: 30px;
}


.imgfooter {
  width: 30%;
  margin-bottom: -10px;
}
