body {
  background-color: #C5CAE9;
}

.header_item {
  padding-left: 2%;
  padding-right: 2%;
}


.image {
  width: 100%;
  height: 180px;
}

h1 {
  text-align: center;
  text-decoration: none;
  color: black;
  margin-bottom: 20px;
  padding-top: 20px;
}



.col-1 {
  margin-top: 20px;
  /*height: 70%;*/
  text-align: center;
}

.fa {
  text-decoration: none;
}

.nodeco {
  text-decoration: none;

}

.nodeco:hover {
  text-decoration: none;

}

.fa-user {
  color: white;
}

.fa-user:hover {
  color: grey;
}

<<<<<<< HEAD
=======
/* style hide pour formulaire filtre */
.hide {
  display:none;
}

>>>>>>> eb9762a664f490d7ec0b7b089a9c559a11a4a19e
.footer_item {
  background-color: #9FA8DA;
  border-top: 2px solid #5C6BC0;
}

.trio {
  width: 80%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.chat {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 60%;
}

.footer_text {
  margin-top: 30px;
}

.rs {
  margin-left: 10px;
  margin-right: 10px;
}

.btn-lg {
  margin-bottom: 30px;
}


.imgfooter {
  width: 30%;
  margin-bottom: -10px;
<<<<<<< HEAD
=======

>>>>>>> eb9762a664f490d7ec0b7b089a9c559a11a4a19e
}
